/* Write your CSS here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.list-items {
  display: flex;
  align-items: center;
  color: #334155;
  font-size: 16px;
  width: 100%;
  border: 1px solid #cbd5e1;
  padding: 8px 16px;
}
.table-header-names {
  width: 30%;
}
.delete-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.delete-img {
  width: 24px;
}
@media (width <=768px) {
  
  .delete-img {
    width: 24px;
  }
}
